html {
    font-family: "Roboto", sans-serif;
    background-color: rgb(213, 214, 249) ;
    
}
.block {
  padding-top: 10px;
 
}

.field {
   margin-top: 5px;
  border-width: 2px;
  border-color: royalblue;
  background-color: rgb(235, 225, 225) );
}

.terms {
    margin-top: 10px;
 }

 .footer {
    margin-top: 10px;
 }
    
a {
    margin: 20px;    
}

.button  {

    margin-top: 15px;
    background-color: rgb(171, 245, 149);
    border-radius: 15px;
    border-color: blue;
    font-size: 35px;
}
