@font-face {
  font-family: "Style-script";
  src: url("./StyleScript-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "STsong";
  src: url("./stsong.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
