* ul {
    color: rgb(56, 6, 104);
}

p {
    color:rgb(99, 135, 17);
}

#back {
    color:blue;
}

.col {
    color: red;
}

.back.img {
    color:rgb(1, 152, 104)
}

.mar p {
    color: deeppink;
}
;
